<div class="container main-menu">
  <div class="row align-items-center justify-content-between d-flex">
   <div id="logo">
     <a href="index.html"><img src="img/logoRA.png" alt="" title="" /></a>
   </div> 

   <nav id="nav-menu-container">
    <ul class="nav-menu">
      <li><a href="/">Inicio</a></li>
      <li><a href="/about">¿Quienes Somos?</a></li>
      <li><a href="hotels.html">Servicios</a></li>
      <li class="menu-has-children"><a href="">Blog</a></li>					          <li><a href="/contact">Contact</a></li>
    </ul>
  </nav><!-- #nav-menu-container -->	
  </div>
</div>


  